.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.gallery {
  display: grid;
  overflow: hidden;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}

.container {
  position: relative;
  justify-content: center;
  display: flex;
}

/* Bottom right text */
.text-block {
  position: absolute;
  justify-content: center;
  top: 5px;
  background-color: transparent;
  color: transparent;
  display: flex;
}

img {
  padding: 5px;
}

.clickable-image {
  cursor: pointer;
}
